h1 {
  padding-top: 20%;
  padding-bottom: 7%;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px black;
}

h4 {
  text-transform: capitalize;
  color: white;
  padding-bottom: 4%;
  text-align: center;
  text-shadow: 1px 1px 2px black;
}

li {
  color: white;
  padding-left: 5px;
  padding-top: 3px;
}


a {
  color: white;
}

.navbar-inverse {
  background: #366ea6;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.navbar-inverse .navbar-brand {
  color: white;
}

body {
  background: url(https://images.unsplash.com/photo-1452723312111-3a7d0db0e024?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=d2caa73026ef83d5701e1d6d3f1957a6);
  background-size: cover;
  background-position: center;
  font-family: kadwa;
}
