h1 {
  padding-bottom: 2%;
  text-align: center;
  font-size: 3em;
  font-weight: 700;
  color: white;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
              0px 8px 13px rgba(0,0,0,0.1),
              0px 18px 23px rgba(0,0,0,0.1);
}

h4 {
  text-transform: capitalize;
  color: white;
  font-weight: 700;
  font-size: 1.6em;
  padding-bottom: 4%;
  text-align: center;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
              0px 8px 13px rgba(0,0,0,0.1),
              0px 18px 23px rgba(0,0,0,0.1);
}

li {
  color: white;
  padding-left: 5px;
  padding-top: 3px;
}

a {
  color: white;
}

html {
  height: 100%;
}

.navbar-inverse {
  background: #366ea6;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.navbar-inverse .navbar-brand {
  color: white;
}

body {
  background: url(https://wallpaperscraft.com/image/dark_spots_texture_background_50355_2558x1562.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Inconsolata;
  font-size: 1.7em;
}

hr {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
