body {
  font-family: Lato;
}

IMG {
  border: 10px solid #1f854e;
  padding: 10px
  margin-left: 10%;
}

h1 {
  color: #5088d2;
}

h1 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  width: 50%;
  padding-bottom: 10px;
}
a {
  color: #cbbcc7;
}

a:hover {
  color:#a517ba
}

a:visited {
  color:#8c8a8b
}

p {
	text-align: center;
}
