body {
  font-family: 'Varela Round', sans-serif;
  color: green;
  background: url(https://wallpaperscraft.com/image/dark_spots_texture_background_50355_2558x1562.jpg);
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
}
