<% include partials/header %>

<h1>This is the homepage</h1>

<img src="https://upload.wikimedia.org/wikipedia/commons/7/7f/Pug_portrait.jpg" width="250px">

<h2>Hello hello</h2>

<% include partials/footer %>